/*作者：hhc_mail@163.com
时间：2017-08-05
描述：大学通——首页*/
	
/*全局属性*/
*{
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
}
body{
	font: 12px/1.5 "微软雅黑", 'Microsoft YaHei', Arial, simsun;
	/*min-width:1220px;*/
}
a{
	text-decoration: none;
	color: #000000;
}
.left{
	float: left;
	overflow: hidden;
}
.right{
	float: right;
	overflow: hidden;
}
.disNone{
	display: none;
}
/*top*/
.top{
	/*position: fixed;*/
	/*top: 0;*/
	z-index: 99;
	width: 100%;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	height: 60px;
	margin: 0 auto;
	font-size: 14px;
}
.top .topArea{
	margin-left: 10%;
	margin-right: 10%;
}
.top .topLeft{
	width: 80%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.top .topLeft img{
	width: 20%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.top .topLeft .topNav{
	padding: 0px;
	float: right;
	width: 80%;
	overflow: hidden;
}
.top .topLeft .topNav li{
	list-style-type: none;
	display: inline-block;
	line-height: 62px;
	width: 100px;
	text-align: center;
}
.top .topLeft .topNav li a{
	width: 100px;
}
.top .topLeft .topNav li a span{
	margin-left: 0.3em;
	font-size: 1em;
}
.top .topLeft .topNav li .currPage{
	color: #69a6d1;
}
.top .topRight{
	width: 20%;
	height: 62px;
	float: right;
	text-align: right;
	overflow: hidden;
}
.top .topRight a{
	line-height:62px;
	margin-left: 10px;
	border: 1px solid #69a6d1;
	color: #69a6d1;
	font-size: 16px;
	padding: 4px 10px 4px 10px;
}
.top .topNav .type{
	background: #FFFFFF;
	position: relative;
	width: 20%;
	height: 160px;
	overflow: auto;
	border: 1px solid #EEEEEE;
	margin-top: 1%;
	padding: 10px;
}
.top .topNav .type table{
	/*width: 100%;*/
	width: 98%;
	height: 100%;
	margin: 0 auto;
}
.top .topNav .type table td{
	line-height: 2px;
	padding-top: 0;
}
.top .topNav .type table a:hover{
	color: #69A6D1;
}
.top .topNav .type table .frist{
	border-right: 1px solid #ADADAD;
}
.top .topNav li:hover .type{
	display: block;
	position: absolute;
	z-index: 99;
	margin-top: -0.6%;
}

.top .topNav li:hover .qipao{
	/*width: 14px;*/
	width: 13%;
	height: 14px;
	z-index: 999;
	margin-left: 30px;
	margin-top: 6px;
	position: relative;
	background: #FFFFFF;
	/*border: 1px solid #EEEEEE;*/
	border-width:1px;
	border-style: solid solid solid solid;
	border-color:#EEEEEE transparent transparent #EEEEEE;
	transform: rotate(45deg);
	display: block;
}
/*container-轮播图*/
.container{
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
}
.container .containerLeft{
	width: 70%;
}
.container .containerRight{
	width: 24%;
}
.container .swiper-container{
	width: 78%;
	height: 310px;
}
.container .zixun{
	width: 21%;
}
.container .swiper-container .swiper-slide{
	width: 100%;
	height: 100%;
}
.container .swiper-container .swiper-slide-a{
	line-height: 560px;
	color: #FFFFFF;
	z-index: 10;
}
.container .swiper-container .swiper-pagination{
	z-index: 9;
	text-align: right;
	background-color: #000000;
	height: 30px;
	margin-bottom: -10px;	
	filter:alpha(Opacity=50);
	-moz-opacity:0.3;
	opacity: 0.3;
	padding-top: 10px;
}
.swiper-pagination-bullet{
	width: 12px;
	height: 12px;
	border-radius:100%;
	background:#ffffff;
	opacity:1;
}

.swiper-pagination-bullet-active{
	background: #69a6d1;
	opacity: 1;
}
.container .zixun .zixunItem{
	width: 100%;
}
.container .zixun .zixunItem img{
	width: 100%;
	height: 94px;
}
.container .zixun .zixunItem2 img{
	margin-top:10px;
	margin-bottom: 10px;
}
.container .containerLeft .artical{
	width: 100%;
}
.container .containerLeft .artical .articalList{
	margin: ;
}
.container.containerLeft .artical .articalLeft{
	width: 20%;
}
.container.containerLeft .artical .articalRight{
	width: 78%;
}
.container.containerLeft .artical .articalRight .articalTitle{
	font-size: 16px;
	font-weight: bold;
}

/*container文章导航*/
.container .articalNav{
	padding: 0px;
	width: 100%;
}
.container .artical .articalNav li{
	list-style-type: none;
	display: inline-block;
	line-height: 62px;
	width: 100px;
	text-align: left;
}
.container .artical .articalNav li a{
	display: inline-block;
	font-size: 16px;
	width: 4em;
	margin-top: 30px;
}
.container .artical .articalNav li .articalCurr{
	color: #69a6d1;
	border-bottom: 2px solid #69a6d1;
}

/*container artical*/
.container .artical .articalItem{
	width: 100%;
	height: 200px;
	overflow: hidden;
	/*padding-top: 30px;*/
	/*border-bottom: 1px solid #EEEEEE;*/
	border-top: 1px solid #EEEEEE;
	/*margin-top: 20px;*/
	z-index: 99px;
	margin: 0 auto;
	padding: 15px 0 10px 0;
}
.container .artical .mengbanTop{
	/*在蒙版的div之上再加一个relative的div，则可实现蒙版大小以及位置的兼容性问题*/
	position: relative;
}
.container .artical .mengban{
	width: 100%;
	height: 248px;
	display: none;
}
.container .artical .articalItem:hover .mengban{
	/*蒙版需要采用绝对定位，并将z-index的位置置于图片下方*/
	display:block;
	background-color: #EEEEEE;
	position:absolute;
	filter:alpha(opacity=30); 
	opacity:0.2;
	-moz-opacity:0.3;
	z-index: 9;	
	top: -50px;
}
.container .artical .articalItem .articalLeft{
	width:24%;
}
.container .artical .articalItem .articalRight{
	width:72%;
}
.container .artical .articalItem .articalLeft img{
	width:100%;
	height: 155px;
}
.container .artical .articalItem .articalRight .articalTitle{
	font-size: 18px;
	line-height: 18px;
	/*border: 1px solid #000000;*/
}
.container .artical .articalItem .articalRight .articalFrom{
	margin-top:20px;
}
.container .artical .articalItem .articalRight .articalFrom .author{
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
}
.container .artical .articalItem .articalRight .articalFrom .author img{
	width: 30px;
	height: 30px;
	border-radius:50%;
}
.container .artical .articalItem .articalDetail{
	font-size: 14px;
	margin: 16px 0 6px 0;
}
.container .artical .articalItem .articalInfo{
	color: 	#ADADAD;
}
.container .containerLeft .getMore{
	width: 99.7%;
	height: 40px;
	text-align: center;
	border: 1px solid #EEEEEE;
	margin: 10px 0 10px 0;
}
.container .containerLeft .getMore a{
	line-height: 38px;
	display: block;
	width: 100%;
	font-size: 14px;
}

/*container containerRight*/
.container .containerRight .quanzi{
	background-color: #FCFCFC;
	padding: 16px;
}
.container .containerRight .quanzi .joinQuanzi{
	border-left: 2px solid #69a6d1;
	font-size: 14px;
	padding-left: 0.4em;
	margin-bottom: 1em;
}
.container .containerRight .quanzi .quanziInfo{
	background: #FFFFFF;	
	font-size: 12px;
	padding: 2em 0 0 0.7em;
}
.container .containerRight .quanzi .quanziInfo img{
	margin-left: 1em;
}
.container .containerRight .quanzi .quanziInfo p{
	line-height: 2em;	
}
.container .containerRight .quanzi .quanziDownload{
	margin-top: 1em;
	font-size: 14px;	
}
.container .containerRight .quanzi .quanziDownload .android{
	color: #69a6d1;
	margin-left: 10%;	
	border-left: 1px solid #69a6d1;
	padding-left: 10%;
}

/*containerRight 推荐作者*/
.container .containerRight .author{
	margin-top: 48px;
	background-color: #FCFCFC;
	padding: 16px 0 16px 16px;
}
.container .containerRight .author .tjAuthor{
	border-left: 2px solid #69a6d1;
	font-size: 14px;
	padding-left: 0.4em;
	margin-bottom: 1em;
}
.container .containerRight .author .tjAuthor .nextPage{
	margin-right: 16px;	
	color: #69A6D1;
}	
.container .containerRight .author .tjAuthor .prePage{
	margin-right: 0.3em;	
	color: #69A6D1;
}	
.container .containerRight .author table{
	width: 100%;
	height: 200px;	
}
.container .containerRight .author table a img{
	border-radius: 50%;	
	width: 3.5em;
	height: 3.5em;
}
.container .containerRight .author table td{
	padding-right: 1em;	
	padding-top: 0.4em;
}

/*link 合作伙伴*/
.link{
	width: 100%;
	overflow: hidden;
	background: #FAFAFA;
}
.link .hzhb{
	width: 80%;
	margin: 0 auto;	
}
.link .hzhb p{
	font-size: 18px;
	margin: 10px 0 10px 0;
}
.link .hzhb ul{
	padding: 0px;
}
.link .hzhb ul li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	text-align: center;
	margin-right: 20px;
}
.link .hzhb ul li img{
	width: 100px;
	height: 40px;
}
.link .hzhb table{
	width: 100%;
	cellspacing:0;
	cellpadding:0;
	border: 0;
	font-size: 13px;
}
.link .hzhb table tr{
	height: 30px;
}
.link .hzhb table td{
	width: 10%;
	border: 0;
}
/*footer 底部*/
.footer{
	width: 100%;
	font-size: 13px;
	color: #ADADAD;
	background: #000000;
	overflow: hidden;
	padding: 40px 0 20px 0;
}
.footerArea{
	width: 80%;
	margin: 0 auto;
}
.footer .footerArea .footerLeft{
	float: left;
	width: 26%;
	overflow: hidden;
}
.footer .footerArea .footerLeft img{
	margin-left: 30px;
}
.footer .footerArea .footerLeft table td a{
	color: #ADADAD;
	display: block;
	width: 80px;
	height: 30px;
}
.footer .footerArea .footerMiddle{
	float: left;
	width: 36%;
	margin-left: 4%;
	overflow: hidden;
}
.footer .footerArea .footerRight{
	float: right;
	width: 24%;
	overflow: hidden;
	margin-top: 30px;
	text-align: right;
}
.footer .footerArea .footerRight ul li{
	list-style-type: none;
	display: inline-block;	
}
.footer .footerArea .footerRight ul li span i{
	font-size: 24px;	
	color: #ADADAD;
}
.footer .footerArea .footerRight ul li a{
	display: inline-block;
	width: 60px;
	line-height: 50px;
}
/*动画效果*/
@-webkit-keyframes fadeIn {
	0% {
	opacity: 0; /*初始状态 透明度为0*/
	}
	50% {
		opacity: 0.5; /*中间状态 透明度为0*/
	}
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
	}
}
.footer .footerArea .footerRight ul li a:hover .disNone{
	display: block;
	position: absolute;
	margin-left: -10px;
	margin-top:-210px;
	background: #ffffff;
	padding: 4px 4px 0px 4px;
	z-index: 99;
	/*调用动画效果*/
	-webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 1s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
/*气泡框效果实现*/
.footer .footerArea .footerRight ul li a:hover .disNone span{
	width:0; 
	height:0; 
	font-size:0; 
	overflow:hidden; 
	position:absolute;
}
.footer .footerArea .footerRight ul li a:hover .disNone span.top{
    border-width:10px; 
    /*border-style:solid dashed dashed; 
    border-color:#ffffff transparent transparent; */
    border-style: solid solid solid solid;
    border-color: #FFFFFF;
    left:46px; 
    bottom:-83px;
    margin-top: 140px;
    display: inline-block;
	transform: rotate(45deg);
	overflow: hidden;
}

.footer .footerArea .footerBottom{
	margin: 0 auto;
	width: 50%;
	padding-top: 14%;
}





/*圆形气泡框实现，在此例子上不显示*/
/*.qipao{
	width: 200px;
	height: 60px;
	margin: 20px 0 20px 200px;
	background: #69A6D1;
	text-align: center;
	padding-top: 40px;
	font-size: 16px;
	border-radius: 50%;
}
.demo{
	width: 38px;
	height: 38px;
	background: #69A6D1;
	transform: rotate(70deg);
	margin-left: 230px;	
	margin-bottom: 200px;
	margin-top: -60px;
}*/
